#header{
    background-color: #00b032;
}
#header h1{
    font-family: "Tilt Prism", cursive;
    font-size: 60px;
}
#header .nav .nav-link.active{
    background-color: #0a9231;
}
.carousel img{
    height: 700px;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: #0a9231;
}