#header{
    background-color: #00b032;
}
#header h1{
    font-family: "Tilt Prism", cursive;
    font-size: 60px;
}
#header .nav .nav-link.active{
    background-color: #0a9231;
}
.carousel img{
    height: 100vh;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: #0a9231;
}
#about{
    background-color: #00b333b3;
}
.titleStyle-first{
    font-family: 'MuseoModerno', cursive;
}
.titleStyle-second{
    font-family: 'Edu VIC WA NT Beginner', cursive;
}
.textStyle{
    font-family: "Roboto mono", monospace;
}
.store-name{
    font-family: "Tilt Prism", cursive;
}

#custom-order, #contact{
    background-color:#badbc3;
}
.text-green{
    color: #0a9231;
}

#products, footer{
    background-color: #0a9231;
}
#products .nav .nav-link{
    color: white;
}
#products .nav .nav-link.active{
    background-color: white;
    color: #0a9231;
}

#contact h2{
    font-family: "Cinzel", serif;
}
#contact label{
    cursor: pointer;
}
#contact textarea{
    resize: none;
}

.social-links{
    display: flex;
}
.social-links li{
    list-style: none;
}

@media screen and (max-width:767px){
    .carousel img{
        height: 30vh;
    }
}